%form_style {
  margin: 10px;
  width: 33%;
  height: 40px;
  font-size: 1.5em;
  align-self: center;
  text-align: center;
  border-radius: 8px;
}

.login_form {
  display: flex;
  flex-direction: column;
  position: relative;
}

h2,
.email_input,
.password_input,
.login_button {
  @extend %form_style;
}

h2 {
  margin-top: 20px;
  font-size: 3em;
  text-align: center;
}

.login_button:disabled {
  background-color: #d9e6e6;
  color: white;
}

.login_button {
  @extend %form_style;
  background-color: #010202;
  color: white;
}

.button {
  text-align: center;
}

.banner {
  width: 100%;
}

.create_account_link {
  text-align: center;
  margin: 10px 0px 30px;
  font-size: 1.5em;
}

.create_account_link:hover {
  cursor: pointer;
  color: #DE582A;
}

.create_account_link:active {
  color: red;
}