.pin-image {
  transform: rotateZ(-137deg);
  height: 35px;
  width: 35px;
  position: relative;
  top: -2px;
  left: 1.5px;
}
.pin {
  width: 40px;
  height: 40px;
  cursor: default;
  border: black solid 2px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  background: white;
  transform: rotateZ(495.03553deg);
}

.pin-hover {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -20px;
  top: -20px;
  border: 2.5px solid rgb(0, 0, 0);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(63, 81, 181);
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
  z-index: 999;
 }
