.drink-form__container {
  width: 100%;
  height: 32vh;
  background: lightpink;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.drink-form-closed__container {
  width: 100%;
  height: 8vh;
  background: chartreuse;
}

.drink__checkbox {
  margin: 0px 10px 0px 0px;
}