.forms-container__container {
  width: 30vw;
  height: 80vh;
  background: red;
}
.not-collapsed-forms__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30vw;
  height: 80vh;

}
.collapsed-forms__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1.5vw;
  height: 80vh;
}
.collapse_button {
  height: 15%;
  border-radius: 0px 150px 150px 0px;
  font-size: 20px;
  font-weight: bold;
}