.forms-container__container {
  width: 30vw;
  height: 80vh;
  background: red;
}

.not-collapsed-forms__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30vw;
  height: 80vh;
  background: rgba(228, 226, 226, 0);
  z-index: 3;
  position: absolute;
}

.collapsed-forms__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1.5vw;
  height: 80vh;
  background-color:rgba(228, 226, 226, 0);
  z-index: 3;
  position: absolute;
}

.collapse_button {
  height: 350px;
  width: 20px;
  border-radius: 0px 150px 150px 0px;
  color: lightgrey;
  background-color:rgba(245, 245, 245, 0.8);
  border: solid lightgrey 1px;
  border-left: none;
}

.collapse_button:hover {
  height: 350px;
  width: 20px;
  border-radius: 0px 150px 150px 0px;
  color: black;
  border: solid black 1px;
  border-left: none;
}
