%form_style {
  margin: 10px;
  width: 33%;
  height: 40px;
  font-size: 1.5em;
  align-self: center;
  text-align: center;
}

.create_account_form {
  display: flex;
  flex-direction: column;
  position: relative;
}

h2,
.name_input,
.email_input,
.password_input,
.confirm_password_input,
.submit_button {
  @extend %form_style;
}

.submit_button:disabled {
  background-color: #d9e6e6;
  color: white;
}

.submit_button {
  @extend %form_style;
  background-color: #010202;
  color: white;
}